.carousel_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 31px 0 31px;
}

.header_title{
    font-family: CooperBT,serif;
    font-size: 30px;
    text-align: center;
}

.carousel_desktop {
    display: none;
}
.carousel_tablet {
    display: none;
}

.carousel_movil {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.slideshow_container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.slider_no_active {
    border: none;
    transition: opacity .25s;
    width: 6px;
    height: 6px;
    background-color: #d8d8d8;
    border-radius: 3px;
    opacity: .5;
    z-index: 100;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.slider_active {
    border: none;
    width: 10px;
    height: 10px;
    background-color: #99bffc;
    border-radius: 5px;
    opacity: .5;
    z-index: 100;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.slider_boot_out {
    position: static;
    align-self: center;
    bottom: 5px;
    margin-top: 10px;
    z-index: 1;
    height: 20px;
    text-align: center;
}

.slider_move_0 {
    display: flex;
    width: 260%;
    transform: translateX(0%);
}

.scroll-touch {
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow-y: hidden;
}

.scroll-touch::-webkit-scrollbar {
    display: none;
}

.steps_image {
    width: 100%;
    display: flex;
    border-radius: 55px;
}

.img_0 {
    content:url("../assets/1/rectangle.jpg");
}
.img_1 {
    content:url("../assets/2/rectangle.jpg");
}
.img_2 {
    content:url("../assets/3/rectangle.jpg");
}

@media (min-width: 700px) {
    .carousel_movil {
        display: none;
    }
    .carousel_tablet {
        display: initial;
    }
}

@media (min-width: 633px) and (max-width: 700px) {
    .steps_image  {
        height: 97%;
        width: 100%;
        border-radius: 68px;
        display: flex;
    }
    .step_container_images{
        width: 30%;
    }
    .img_0 {
        content:url("../assets/1/rectangle@2x.jpg");
    }
    .img_1 {
        content:url("../assets/2/rectangle@2x.jpg");
    }
    .img_2 {
        content:url("../assets/3/rectangle@2x.jpg");
    }
}

@media (min-width: 1040px) {
    .carousel_desktop {
        display: initial;
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-self: center;
        padding-left: 5%;
    }
    .carousel_tablet {
        display: none;
    }
}

.photo_desktop{
    flex-direction: column;
    width: 300%;
    height: 500px;
    align-self: center;
    border-radius: 45px;
    float: left;
    display: inline-flex;
}

.carousel_image{
    align-self: center;
    border-radius: 55px;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
}