.step_container_images {
    align-self: center;
    justify-content: center;
    display: flex;
    border-radius: 45px;
    padding-left: 2%;
}
.steps_image {
    align-self: center;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
}

.container_text {
    margin-right: 10px;
    margin-left: 10px;
    /* height: 130px; */
}

.carousel_tablet .container_text {
    height: 293px; 
}

.carousel_tablet .step_carrousel_back {
    margin-top: 0px;
}

.carrousel_title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    text-align: center;
    color: #252525;
}

.carrousel_description {
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    color: #2a2a2a;
}

.step_carrousel_back {
    align-self: center;
}

.span_links {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: #0752f8;
    cursor: pointer;
    font-family: ModernEra;
}

.arrow_rigth {
    margin-left: 10px;
}

.moons_image_two_table, .moons_image_three_table {
    align-self: center;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 350px;
    height: 550px;
}

.step_container_images_table{
    width: 109%;
    transform: translateX(0%);
    display: flex;
}

.slideshow_container_table {
    position: relative;
}

.slider_move_tablet {
    width: 130%;
    transform: translateX(0%);
    display: flex;
}

.one_image_table, .two_image_table, .three_image_table {
    align-self: center;
    width: 305px;
    border-radius: 55px;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
}