div.description-right{
  text-align: right;
}
div.description-left{
  text-align: left;
}
span.percentage{
  padding-right: 5px;
}
.total{
  color: #aaaaaa;
  fill: #aaaaaa;
  text-anchor: middle;
}
.color-1-1{
  color: #86d045;
  fill: #86d045;
  font-weight: bold;
}
.color-1-2{
  color: #356517;
  fill: #356517;
  font-weight: bold;
}
.color-2-1{
  color: #a8e0eb;
  fill: #a8e0eb;
  font-weight: bold;
}
.color-2-2{
  color: #295065;
  fill: #295065;
  font-weight: bold;
}
.color-3-1{
  color: #eac62e;
  fill: #eac62e;
  font-weight: bold;
}
.color-3-2{
  color: #b26037;
  fill: #b26037;
  font-weight: bold;
}
.line_1 {
  stroke: #cde7b5;
  fill: none;
  stroke-width: 2;
}
.line_2 {
  stroke: #e0ecf2;
  fill: none;
  stroke-width: 2;
}
.line_3 {
  stroke: #f3ecc5;
  fill: none;
  stroke-width: 2;
}

.curve_1 {
  fill: #e4ebd3;
  stroke-width: 2;
}
.curve_2 {
  fill: #f4fafa;
  stroke-width: 2;
}
.curve_3 {
  fill: #fbf5f0;
  stroke-width: 2;
}

.area {
  stroke: none;
  fill: #ebfadd;
}

hr {
  border-top: 5px solid rgba(0,0,0,.1) !important;
}

div.centered {
  text-align: center;
}

#circulo_2 {
   fill: rgb(256,256,256);
}

.textInside {
  font-size: 22px;
}